<a href="{{publicacion.data.link}}" target="_blank">
	<i class="red-icon fa fa-instagram"></i>
</a>

<img src="{{publicacion.data.images.standard_resolution.url}}" width="{{publicacion.data.images.standard_resolution.width}}" height="{{publicacion.data.images.standard_resolution.height}}" />
<h2 class="instagram-caption">{{publicacion.data.caption.text}}</h2>

<div class="clearfix article-meta">
	<div class="table-row">
		<div class="meta-item autor">
			<a href="https://instagram.com/{{publicacion.data.user.username}}" target="_blank"><i class="fa fa-user"></i> {{publicacion.data.user.full_name}}</a>
		</div>
		<div class="meta-item date">
			<i class="fa fa-calendar"></i> {{publicacion.createdAt | amCalendar }}
		</div>
	</div>

	<div class="table-row">
		<div class="meta-item time">
			<i class="fa fa-clock-o"></i> <span am-time-ago="publicacion.createdAt">{{publicacion.createdAt}}</span>
		</div>
		<div class="favs meta-item fuente fuente-{{publicacion.data.defuente}}">
			<i class="fa fa-heart"></i> <span>0</span>
		</div>
	</div>
</div>