<a href="{{publicacion.data.link}}" target="_blank">
	<i class="red-icon fa fa-instagram"></i>
</a>

<img ui-sref=".publicacion({ publicacionID: publicacion.id })"  ng-src="{{publicacion.data.images.standard_resolution.url}}" width="{{publicacion.data.images.standard_resolution.width}}" height="{{publicacion.data.images.standard_resolution.height}}" />
<div class="instagram-caption">
	<span>{{publicacion.data.caption.text}}</span>
	<p class="metadata"><em>por: </em><a href="https://instagram.com/{{publicacion.data.user.username}}" target="_blank">{{publicacion.data.user.full_name}}</a> / <span am-time-ago="publicacion.createdAt">{{publicacion.createdAt}}</span></p>
</div>

<div class="clearfix article-meta">
	<span ng-include src="'/js/app/views/parts/like.html'"></span>
</div>