<a href="https://twitter.com/{{publicacion.data.user.screen_name}}/status/{{publicacion.data.id_str}}" target="_blank">
	<i class="red-icon fa fa-twitter"></i>	
</a>
<figure ui-sref=".publicacion({ publicacionID: publicacion.id })" ng-if="publicacion.data.entities.media[0].type=='photo'">
	<img ng-src="{{publicacion.data.entities.media[0].media_url}}" />
</figure>
<blockquote >
	<div ui-sref=".publicacion({ publicacionID: publicacion.id })" ng-bind-html="publicacion.data.text | tweet "></div>
	<p class="metadata">
	<em>por: </em> <a href="https://twitter.com/{{publicacion.data.user.screen_name}}" target="_blank">@{{publicacion.data.user.name}}</a> / <span am-time-ago="publicacion.data.created_at">{{publicacion.createdAt}}</span>
	</p>
</blockquote>
<div class="clearfix article-meta">
	<div ng-include src="'/js/app/views/parts/like.html'"></div>
</div>
