<a href="https://www.youtube.com/watch?v={{publicacion.data.id.videoId}}" target="_blank">
	<i class="red-icon fa fa-youtube"></i>
</a>

<a target="_blank" href="https://www.youtube.com/watch?v={{publicacion.data.id.videoId}}"><img ng-src="{{publicacion.data.snippet.thumbnails.high.url}}" /></a>

<h2 class="youtube-title">{{publicacion.data.snippet.title}}</h2>

<p class="youtube-caption">{{publicacion.data.snippet.description}}</p>

<div class="clearfix article-meta">
	<div class="table-row">
		<div class="meta-item autor">
			<a href="https://www.youtube.com/watch?v={{publicacion.data.id.videoId}}" target="_blank"><i class="fa fa-user"></i> {{publicacion.data.snippet.channelTitle}}</a>
		</div>
		<div class="meta-item date">
			<i class="fa fa-calendar"></i> {{publicacion.createdAt | amCalendar }}
		</div>
	</div>

	<div class="table-row">
		<div class="meta-item time">
			<i class="fa fa-clock-o"></i> <span am-time-ago="publicacion.createdAt">{{publicacion.createdAt}}</span>
		</div>
		<div ng-include src="'/js/app/views/parts/like.html'"></div>
	</div>
</div>