<!DOCTYPE html>
<html class="no-js" ng-app="colaborativo">
  <head>
    <title>Colaborativo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/importer.css">
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/socket.io.js"></script>
    <script src="/js/sails.io.js"></script>
    <script src="/js/connection.example.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/app/Packery.js"></script>
    <script src="/js/app/angular-resource.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/controllers.js"></script>
    <script src="/js/vendor/modernizr.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
