<header id="header">
	<h1><%= tablero.name %></h1>
	<h2><small><%= __('Powered by') %>: </small><a href="/">Colaborativo</a></h2>	
</header>
<div class="tablero" id="<%= tablero.id %>" ng-controller="TableroCtrl" scroll-glue> 

	<ul class="publicaciones" ng-view>
		<li id="p-{{publicacion.id}}" class="publicacion {{publicacion.red}} item four{{publicacion.data.in_reply_to_status_id_str}}" ng-repeat="publicacion in publicaciones | limitTo:50" danny-packery>

			<article ng-if="publicacion.red=='twitter'">
				<blockquote ng-bind-html=" publicacion.data.text | tweet ">
					
				</blockquote>
				<div class="clearfix article-meta">
					<div class="table-row">
						<div class="meta-item autor">
							<!-- <img width="48" height="48" src="{{publicacion.data.user.profile_image_url}}" /> -->
							<span><%= __('by') %>:</span> <a href="https://twitter.com/{{publicacion.data.user.screen_name}}" target="_blank">{{publicacion.data.user.name}}</a>
						</div>
						<div class="meta-item date">
							{{publicacion.data.created_at | amCalendar }}
						</div>
					</div>
					<div class="table-row">
						<div am-time-ago="publicacion.data.created_at" class="meta-item time">
							{{publicacion.createdAt}}
						</div>
						<div class="meta-item fuente fuente-{{publicacion.data.defuente}}">
							#
						</div>
					</div>
				</div>
			</article>

			<article ng-if="publicacion.red=='instagram'">
				<img src="{{publicacion.data.images.standard_resolution.url}}" width="{{publicacion.data.images.standard_resolution.width}}" height="{{publicacion.data.images.standard_resolution.height}}" />
				<!-- <h2>{{publicacion.data.caption.text}}</h2> -->

				<div class="clearfix article-meta">
					<div class="autor">

					</div>
					<div class="date">
						{{publicacion.createdAt}}
					</div>
					<div class="time">
						{{publicacion.createdAt}}
					</div>
					<div class="fuente fuente-{{publicacion.data.defuente}}">
					
					</div>
				</div>
			</article>
		</li>
	</ul>
</div>