<header id="header">
	<h1 id="colaborativo"><a href="/">COLABORATIVO</a></h1>
</header>
<div class="tablero" id="tableros" ng-controller="AppCtrl"> 
	<ul>
		<% tableros.forEach(function(tablero) { %>
			<li><a href="/tablero/show/<%= tablero.id %>"><%= tablero.name %></a></li>
		<% }) %>
	</ul>
</div>