<header id="header">
	<h1>COLABORATIVO</h1>
</header>
<p><%= __('Nothing') %> {{'yet' + '!'}}</p>
<div id="tableros" ng-controller="AppCtrl"> 
	{{tableros.length}} Tableros
	<ul>
		<% tableros.forEach(function(tablero) { %>
			<li><a href="/tablero/show/<%= tablero.id %>"><%= tablero.name %></a></li>
		<% }) %>
	</ul>
</div>