<header id="header">
	<h1 id="colaborativo"><a href="/">COLABORATIVO</a></h1>
	<ul id="main_nav">
		<li><a href="#quote" class="scroll">Qué es colaborativo</a></li>
		<li><a href="#about_us" class="scroll">Cómo funciona</a></li>
		<li><a href="#en_linea" class="scroll">A quién le sirve</a></li>
		<li><a href="#quien_sirve " class="scroll">Plataforma</a></li>
		<li><a href="mailto:founders@colaborativo.co" class="scroll">Contáctenos</a></li>
	</ul>
</header>
<div class="tablero home" id="tableros" ng-controller="AppCtrl"> 

	<div id="quote">
		<div class="container">
			<h1>La forma inteligente de agrupar lo que la gente habla en las
			redes sociales</h1>
			<span></span>
		</div>
	</div>

	<div class="clearfix" id="about_us">
		<div class="container first">
			<h2>¿Qué es colaborativo?</h2>

			<p style="text-align:center">
				<iframe src="//player.vimeo.com/video/100415370?color=ff0179&amp;autoplay=1" width="672" height="378" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</p>

			<p>Colaborativo es una plataforma que reúne en un solo lugar los
			contenidos publicados por los usuarios y las marcas en las redes
			sociales en torno a eventos, promociones o actividades personales,
			permitiendo crear Tableros Sociales donde los usuarios interactúan
			votando, comentando y compartiendo los contenidos preferidos. Así,
			las marcas con el contenido agrupado pueden medir el impacto de sus
			estrategias y obtener una valiosa información para su inteligencia
			de negocio.</p>
		</div>

		<div class="container second">
		<h2>¿Cómo funciona?</h2>

		<p>Agrupamos los hashtags usados en twitter, instagram, youtube, flickr
		y otras redes sociales y publicamos todos los contenidos en un solo
		lugar para facilitar el acceso a la información y el análisis de
		esta.</p><img alt="Capturas de pantalla" src=
		"http://colaborativo.co/wp-content/themes/colaborativo-landing/images/screen_captures.jpg"></div>

		<div class="container second">
			<h2>Conozca algunos casos de éxito</h2>

			<p>Los siguientes tableros están activos ahora mismo:</p>

			<ul class="activos">
				<% tableros.forEach(function(tablero) { %>
					<li><a href="/<%= tablero.slug %>/"><%= tablero.name %></a></li>
				<% }) %>
			</ul>

			<p>Hemos usado Colaborativo en grandes eventos en Colombia. Conozca
			aquí algunos ejemplos:</p>

			<ul class="casos clearfix">
				<li class="logo_2"><a href=
				"http://periodicodelcongreso.colaborativo.co/" target=
				"_blank"></a></li>

				<li class="logo_3"><a href="http://bogotaconf.colaborativo.co"
				target="_blank"></a></li>

				<li class="logo_4"><a href=
				"http://unoicolombia.colaborativo.co/" target=
				"_blank"></a></li>
			</ul>
		</div>
	</div>

	<div class="clearfix" id="objectives">
		<div class="container first">
			<img alt="fotografia" src=
			"http://colaborativo.co/wp-content/themes/colaborativo-landing/images/pic1.jpg">

			<h2>Colaborativo.co en eventos</h2>

			<p>Ayudamos a agrupar los contenidos de eventos corporativos,
			congresos, activaciones de marca, conciertos musicales, eventos
			deportivos y eventos de asistencia masiva</p>
		</div>

		<div class="container second">
			<img alt="fotografia" src=
			"http://colaborativo.co/wp-content/themes/colaborativo-landing/images/pic2.jpg">

			<h2>Colaborativo.co para marcas</h2>

			<p>Apoyamos las actividades digitales de las marcas, somos un
			tablero para presentar la información generada por la marca y lo
			que los usuarios hablan sobre esta, conozca lo que los usuarios
			estan conversando sobre su marca, centralice toda la información en
			un mismo lugar, uste podrá moderar el contenido publicado.</p>
		</div>

		<div class="container third">
			<img alt="fotografia" src=
			"http://colaborativo.co/wp-content/themes/colaborativo-landing/images/pic3.jpg">

			<h2>Colaborativo.co para personas</h2>

			<p>Agrupa los momentos más importantes en tu vida, cumpleaños,
			matrimonios, celebrabaciones con amigos y reuniones familiares.
			Define un hashtags, usalo en tus redes sociales y comparte el
			tablero con tus amigos.</p>
		</div>
	</div>

	<div id="fourth_wrapper">
		<div class="container fourth">
			<div class="cta_uno">
				<h2>¿Quiere usar Colaborativo?</h2>

				<p>Solicite ahora una prueba de Colaborativo y agrupe todo lo
				que la gente hablan en las redes sociales.<br>
				Nuestro equipo evaluará su solicitud y pronto le
				responderemos</p>
			</div><a class="scroll" href="mailto:founders@colaborativo.co">solicitar una prueba</a>
		</div>
	</div>

	<div id="en_linea">
		<div class="container">
			<img alt="fotografia" src=
			"http://colaborativo.co/wp-content/themes/colaborativo-landing/images/pic4.jpg">

			<h2>Colaborativo para Cubrimiento en línea</h2>

			<p>El equipo de colaborativo ayuda a cubrir eventos usando
			dispositivos móviles que facilitan la generación de contenidos y
			publicación minuto a minuto de las principales actividades de los
			eventos y actividades.<br>
			Nuestros periodístas digitales y community managers que se
			encargarán de generar contenidos, administrar y monitorear las
			conversaciones de los usuarios.</p>
		</div>
	</div>

	<div id="quien_sirve">
		<div class="container">
			<h2>A quién le sirve Colaborativo?</h2>

			<p>A todas las empresas, marcas y personas que quieran agrupar los
			contenidos generados en torno a una actividad en las redes
			sociales.</p>

			<div class="who_wrapper">
				<div class="first_item">
					<img alt="icono empresas" src=
					"http://colaborativo.co/wp-content/themes/colaborativo-landing/images/icon1.jpg">

					<h3>Empresas</h3>

					<ul>
						<li>Eventos Empresariales</li>

						<li>Seminarios y Capacitaciones</li>

						<li>Conciertos y Festivales musicales</li>

						<li>Congresos y seminarios</li>

						<li>Capacitaciones empresariales</li>
					</ul>
				</div>

				<div>
					<img alt="icono marcas" src=
					"http://colaborativo.co/wp-content/themes/colaborativo-landing/images/icon2.jpg">

					<h3>Marcas</h3>

					<ul>
						<li>Activaciones digitales</li>

						<li>Campalñas de Redes Sociales</li>

						<li>Conciertos y Festivales musicales</li>

						<li>Promociones</li>

						<li>Pantallas para tiendas</li>
					</ul>
				</div>

				<div>
					<img alt="icono personas" src=
					"http://colaborativo.co/wp-content/themes/colaborativo-landing/images/icon3.jpg">

					<h3>Personas</h3>

					<ul>
						<li>Matrimonios</li>

						<li>Celebraciones</li>

						<li>Cumpleaños</li>

						<li>Fiestas</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="nuestra_plataforma">
		<div class="container">
			<h2>Nuestra plataforma</h2>

			<p>Colaborativo se conecta con las principales redes sociales como
			Twitter, Instagram, Youtube, SoundCloud, Flickr y llama
			automáticamente los contenidos asociados a un Hashtag y los
			almacena en nuestra plataforma.</p><img alt="Diagrama redes" src=
			"http://colaborativo.co/wp-content/themes/colaborativo-landing/images/diagrama_redes.png">

			<p class="second_paragraph">La plataforma de cubrimiento permite
			crear categorías y asociar #hashtags para agrupar los contenidos
			generados por los usuarios y seguir @usuarios específicos para
			registrar su actividad</p>
		</div>
	</div>

	<div id="footer">
		<div class="container">
			<h1><a href="/">Colaborativo.co</a></h1>
			<p>Todos los derechos reservados. Colaborativo.co © 2014</p>
		</div>
	</div>
</div>